body{
    display: grid;
    place-items: center;
}

.container{
    box-sizing: border-box;
    height: 100vh;
    background-color: rgb(54, 54, 54);
    width: 30%;
    border: solid black 2px;
    min-width: 30%;
}

.container input{
    height: 4vh;
    font-size: 5vh;
    background-color: rgb(110, 247, 110);
    color: black;
    margin: 20px 15px;
    width: 80%;
    padding: 25px;
}

.buttons-container{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 15px;
}

.buttons-container button{
    background-color: black;
    color: white;
    font-weight: 900;
    padding: 15px 10px;
    margin: 0px 5px;
    width: 70px;
}

#ans{
    background-color: red;
}
